/* Gerais */

body {
    font-family: Arial, sans-serif;
  }
  
  .row {
    margin: 0;
  }
  
  .container {
    padding: 70px 0;
  }
  
  p, li {
    color: #444;
    font-size: 14px;
  }
  
  /* Barra de navegação */
  header, .navbar {
    background-color: #353D41;
  }
  
  #nav-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #logo {
    width: 65px;
  }
  
  .navbar-brand {
    padding: 0;
    color: #FFF;
  }
  
  .navbar-brand:hover {
    color: #FFF;
  }
  
  #navbar-links a {
    color: #FFF;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
  }
  
  .nav-item.active {
    border-bottom: 3px solid #FFF;
  }
  
    /* Depoimentos */
  
  .card-body {
    text-align: center;
  }
  
   /* Footer */
  
   /* Copyright */
  
  #copy-area {
    background-color: #F1F1F1;
  }
  
  #copy-area .container {
    padding: 10px 0;
    text-align: center;
  }
  
  #copy-area .container p {
    margin-bottom: 0;
  }
  
  #copy-area .container a {
    font-weight: bold;
    color: #444;
  }
  
  #copy-area .container a:hover {
    text-decoration: none;
    color: #3EC1D5;
  }
  
  /* responsive */
  @media(max-width: 768px) {
    
    /* geral */
    .container {
      padding: 20px 0;
    }
    
      /* Depoimentos */
    .card-title {
      font-size: 14px;
    }
  
    .card-text {
      font-size: 12px;
    }
  
    /* apply */
    #apply-area .apply-box {
      padding: 50px 25px;
    }
    
  }
  
  
  @media(max-width: 425px) {

    /* Depoimentos */
    #depoimentos-area .col-md-3 {
      width: 50%;
      margin-bottom: 30px;
    }
  
    /* apply */
    #apply-area {
      height: auto;
    }
  
    #company-img {
      display: none;
    }
  
    /* filter */
    #portfolio-area .filter-btn {
      margin-bottom: 20px;
    }
  
    .project-box {
      width: 50%;
    }
  
    /* news */
    #news-area .main-title {
      font-size: 24px;
    }
  
    #call-area p, #call-area #call-btn {
      font-size: 14px;
      letter-spacing: 0;
    }
  
    #call-area p, #call-area #call-btn {
      margin: 0;
      width: 50%;
    }
  
    /* contact */
    .contact-box {
      border: none;
      margin-bottom: 0;
    }
  
  }